@model vacrem.Models.vaccinelist

@{
    ViewBag.Title = "viewvaccine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>viewvaccine</h2>
<table>
    <tr>
        <th>Category Name
        </th>
        <th>Vaccine Name
        </th>
        <th>Boys Vaccine
        </th>
        <th>Girls Vaccine
        </th>
        <th>Status
        </th>
    </tr>
    @foreach (vaccine vac in Model.vaccine)

    @foreach (child item in Model.childlist)
    {
<tr>
        <td>
            @Html.DisplayFor(modelItem => item.child_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
    </td>
    </tr>
    }

</table>
